<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <listeners>
        <listener class-name="com.inetbanking.utilities.Reporting"/>
    </listeners>
    
    <test name="SampleTestCase">
        <classes>
        <!--    <class name="com.inetbanking.testCases.TC_LoginTest_001"/> -->
            <class name="com.inetbanking.testCases.TC_LoginDDT_002"/>
        </classes>
    </test>
</suite>

